extends base.pug

block scripts 
    script (src="../static/index.js")
block style 
    style
        include ../static/style.css
block content
    div.container
        p This info page haven't designed yet